@model BookShelf.Models.Author

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Penname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Penname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredGenre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PreferredGenre)
        </dd>
    </dl>
    </br>

    @if (Model.Book.Count > 0)
    {
        <h4>Books Published</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Book.First().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book.First().PublishDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book.First().ISBN)
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Book)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Books Published</p>
    }

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
